@import "_variables.scss";

.old-xian{
    clip-path: circle();
    margin-bottom: 3rem;
}
.old-xian:hover{
    transform: rotate(360deg);
    transition: 1s;
}
.old-xian::after{
    transition: all 1s;
}
