html,
body{
    margin: 0;
    
}
    
    
$colors: (
    red: #ff5722,
    white: #fff,
    blue: #00b0ff,
    black: #000,
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}