@import "_variables.scss";
@import "_character-intro.scss";
@import "characters.scss";
@import "_hhd-or-jxz.scss";
@import "_old-xian.scss"; 
@import "_text-effect.scss";
@import "_yes-or-yes.scss";

.container{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}