@import "_buttons.scss";
@import "_old-xian.scss";
@import "_hhdjzx.scss";
@import "_variables.scss";
@import "_umbrella.scss";
@import "_text-effect.scss";

.container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}